@using WebStoryFroEveryting.Models.Home
@model IndexViewModel
@{
	ViewData["Title"] = "Home Page";
}

<div>
    Привет @Model.UserName
</div>
<div class="text-center">
	<a href="/FootballPlayer/Index">Состав ФК Динамо Москва</a>
	<a href="/AnimeGirl/Index">Idols</a>
	<a href="/jerseys/">Jerseys Store</a>
	<a href="/Notebooks/Index">Notebooks</a>
	<a href="/MagicItem/Index">MagicItems</a>
    <a href="/AnimeGirl/CreateOrderForAnimeGirl">Idols</a>
    <a href="/PurchaseFilms/CreatePurchaseFilms">Films</a>
    <a href="/jerseys/">Jerseys Store</a>
    <a href="/Notebooks/CreateOrderForNotebooks">Notebooks</a>
    <a href="/SweetsStore/CreateOrderForSweets">SweetsStore</a>
</div>
<div class="iconForUnderwaterHunter">
	<a class="underwaterHunterFirstButton" href="/UnderwaterHunter/Index">Underwater hunters</a>
</div>
<div>
	<a href="/GamingDevice/GetGamingDevices">Gaming Devices</a>
</div>

<div class="fun">
	@Model.FactAboutNumber
</div>
<div class="fun">
	@Model.Joke
</div>