@using WebStoryFroEveryting.Models.Home
@model IndexViewModel
@{
	ViewData["Title"] = "Home Page";
}

@section Scripts {
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="/js/Home/weather.js"></script>
}

<div>
    Привет @Model.UserName
</div>
<div class="text-center">
	<a href="/FootballPlayer/Index">Состав ФК Динамо Москва</a>
	<a href="/AnimeGirl/Index">Idols</a>
	<a href="/jerseys/">Jerseys Store</a>
	<a href="/Notebooks/Index">Notebooks</a>
	<a href="/MagicItem/Index">MagicItems</a>
    <a href="/AnimeGirl/CreateOrderForAnimeGirl">Idols</a>
    <a href="/PurchaseFilms/CreatePurchaseFilms">Films</a>
    <a href="/jerseys/">Jerseys Store</a>
    <a href="/Notebooks/CreateOrderForNotebooks">Notebooks</a>
    <a href="/SweetsStore/CreateOrderForSweets">SweetsStore</a>
</div>
<div class="iconForUnderwaterHunter">
	<a class="underwaterHunterFirstButton" href="/UnderwaterHunter/Index">Underwater hunters</a>
</div>
<div>
	<a href="/GamingDevice/GetGamingDevices">Gaming Devices</a>
</div>

<div class="fun">
	@Model.FactAboutNumber
</div>
<div class="fun">
	@Model.Joke
</div>
<div class="fun">
	В 
	<select class="location">
		<option value="">Моей локации</option>
		<option value="[53, 27]">Минск</option>
		<option value="[55, 37]">Москва</option>
		<option value="[53, 23]">Гродно</option>
		<option value="[35, 33]">Кипр</option>
		<option value="[42.8, 74.5]">Бишкек</option>
		<option value="[62, 129]">Якутск</option>
	</select>
	сейчас <span class="current-temperature">@Model.WeatherTemperature</span>
</div>
<div id="chart_div"></div>