@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="/FootballPlayer/ViewInfoAboutTeamPlayer">Состав ФК Динамо Москва</a>
    <a href="/AnimeGirl/CreateOrderForAnimeGirl">Idols</a>
    <a href="/jerseys/">Jerseys Store</a>
    <a href="/Notebooks/CreateOrderForNotebooks">Notebooks</a>
    <a href="/MagicItem/CreateOrderForMagicItem">MagicItems</a>
</div>
<div class="iconForUnderwaterHunter">
    <a href="/UnderwaterHunter/CreatePageUnderwaterHunter">Underwater hunters</a>
</div>
