@using WebStoryFroEveryting.Models.Jerseys
@model JerseyViewModel
@{
    Layout = "~/Views/Shared/_LayoutJersey.cshtml";
}



<div class="jersey-detail">
    <div class="jersey-detail-img">
        <img src="@Model.Img" />
    </div>
    <div class="jersey-detail-info">
        <div class="jersey-detail-athletename">
            Имя: @Model.AthleteName
        </div>
        <div class="jersey-detail-club">
            Клуб: @Model.Club
        </div>
        <div class="jersey-detail-number">
            Номер: @Model.Number
        </div>
    </div>
    
</div>
