@using WebStoryFroEveryting.Models.Jerseys
@model List<JerseyViewModel>
@{
    Layout = "~/Views/Shared/_LayoutJersey.cshtml";
}


@foreach (var jersey in Model)
{
    <div class="jersey">
        <div class="jersey-img">
            <img src="@jersey.Img" />   
        </div>
        <div class="name">
            @jersey.AthleteName
        </div>
        <a class="button" href="/jerseys/detail?id=@jersey.Id">Подробнее</a>
        <a class="button red" href=" /jerseys/remove?id=@jersey.Id">Удалить</a>
    </div>
}

