@using WebStoryFroEveryting.Models.Jerseys
@model JerseyIndexViewModel
@{
    Layout = "~/Views/Shared/_LayoutJersey.cshtml";
}

<div class="tags">
    <a href="/jerseys/Index" class="tag">Сбросить фильтр</a>
    @foreach (var tag in Model.Tags)
    {
        <a href="/jerseys/Index?tag=@tag" class="tag @(tag == Model.CurrentTag ? "active": "")">@tag</a>
    }
</div>
@foreach (var jersey in Model.Jerseys)
{
    <div class="jersey">
        <div class="jersey-img">
            <img src="@jersey.Img" />   
        </div>
        <div class="name">
            @jersey.AthleteName
        </div>
        <a class="button" href="/jerseys/detail?jerseyid=@jersey.Id">Подробнее</a>
        <a class="button red" href=" /jerseys/remove?jerseyid=@jersey.Id">Удалить</a>
    </div>
}

