<html>
<head>
	<link href="~/css/reset.css" rel="stylesheet" />
	<link href="~/css/UnderwaterHunter/hunterForm.css" rel="stylesheet" />
</head>
<body>
	<div class="label-and-header">
		<div class="label">
			<img src="http://podvox.by/uploads/attachment/2014-03/1395307133_f16789d2c157.jpg" />
		</div>
		<div class="header">
			UNDERWATER HUNTER PAGE
		</div>
		<div class="buttonsMenu-links">
			<div class="text-Menu">Menu:</div>			
			<div class="button-addNewHunter">
				<a href="/UnderwaterHunter/CreateNewHunter">
					Add new hunter</a>
			</div>
		</div>
	</div>
	<div class="content">
		@RenderBody()
	</div>
</body>
</html>
