
<!DOCTYPE html>
<html>
<head>
  <link href="~/css/Lessons/header.css" rel="stylesheet" />
  @await RenderSectionAsync("Styles", false)
</head>
<body>
<div class="header">
    <ul class="header-items">
        <li><a href="/Lessons" class="header-item">Главная</a></li>
        <li><a href="#" class="header-item">Тесты</a></li>
        <li><a href="#" class="header-item">Контакты</a></li>
        <li><a href="/Lessons/Create" class="add-button header-item"><i class="fas fa-plus"></i>+</a></li>
    </ul>
</div>
<div class="content">
      @RenderBody()
</div>
</body>
</html>