<html>
<head>
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/AnimeGirl/animeGirl.css" rel="stylesheet" />
    <link href="~/css/AnimeGirl/notification.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="~/js/Idol/chat.js"></script>
    <script src="~/js/Idol/notification.js"></script>
    @RenderSection("Scripts", false)
</head>
<body>
    <div class="header">
        <a href="/">Site name here</a>
    </div>
    <div class="menu-and-content">
        <div class="menu">
            <div class="link">
                <a href="/AnimeGirl/Index">Idols</a>
            </div>
            <div class="link">
                <a href="/AnimeGirl/Create">Create</a>
            </div>
            <div class="chat">
                <div class="messages">
                    <div class="message template">
                        <span class="author">admin</span>
                        <span class="text">Example</span>
                    </div>
                </div>
                <div class="new-message-container">
                    <input class="new-message" />
                    <button class="send-new-message">Send</button>
                </div>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div class="notification-container">
            <div class="notification template"></div>
        </div>
    </div>
</body>
</html>