<html>
<head>
    <link href="~/css/reset.css" rel="stylesheet">
    <link href="~/css/Tanks/Tanks.css" rel="stylesheet">
    @RenderSection("Styles", false)
</head>
<body>
    <div class="header">
        Tanks shop
    </div>

    <div class="menu-and-content">

        <div class="menu">

            <div class="link">
                link1
            </div>

            <div class="link">
                link2
            </div>

        </div>

        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>