<html>
<head>
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/FootballPlayer/footballPlayer.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="header">
        FC Dynamo Moscow
    </div>
    <div class="menu-and-content">
        <div class="menu">
            <div class="link">
                <a href="/FootballPlayer/ViewInfoAboutTeamPlayer">Состав</a>
            </div>
            <div class="link">
                <a href="/FootballPlayer/CreatePlayer">Добавить игрока</a>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>