<html>
<head>
      <link href="~/css/reset.css" rel="stylesheet" /> 
      <link href="~/css/Notebooks/Notebooks.css" rel="stylesheet" />
      @RenderSection("Styles", false)
</head>
<body>
  <div class="header">
       Site name here
  </div>
  <div class="menu-and-content">
       <div class="menu">
            <div class="link">
                <a href="/Notebooks/CreateOrderForNotebooks">Notebooks</a>
            </div>
            <div class="link">
                <a href="/Notebooks/Create">Create</a>
            </div>
        </div>
       <div class="content">
            @RenderBody()
       </div>
  </div> 
</body>
</html>