<html>
<head>
    <link href="~/css/reset.css" rel="stylesheet"/>
    <link href="/css/Films/StyleFilms.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", false)
</head>
<body>
    <div class="header">
         Site name here
    </div> 
    <div class="menu-and-content">
        <div class="menu">
            <div class="link">
                <a href="/PurchaseFilms/CreatePurchaseFilms">Menu</a>
            </div>

            <div class="link">
                <a href="/PurchaseFilms/CreateFilms">Create Film</a>
            </div>
        </div>
        <div class="content">
             @RenderBody()
        </div>
    </div>
</body>
</html>
