@using WebStoryFroEveryting.Models.Auth
@model AuthViewModel


<form method="post" action="/Auth/Login">
    <div>
        @Html.TextBoxFor(x => x.UserName, new { placeholder = "UserName" })
    </div>
    <div>
        @Html.TextBoxFor(x => x.Password, new { placeholder = "Password", @type = "password" })
    </div>
    <div>
        <button type="submit">Логин</button>
    </div>
</form>