.players {
    display: flex;
}

.player {
    margin: 5px;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px;
}

.name {
    display: flex;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .image-container img {
        max-width: 100px;
        max-height: 100px;
    }

.position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
}

.button {
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    border: 1px black solid;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
}

    .tag.active {
        border-color: red;
    }

.update-mode {
    display: none;
}

