@using WebStoryFroEveryting.Models.Films
@model FilmsViewModel

<form method="post" action="/PurchaseFilms/CreateFilms">
    <div>
        @Html.TextBoxFor(x => x.Name, new {placeholder="Name"})
    </div>
    <div>
        @Html.TextBoxFor(x => x.Src, new { placeholder="Src"})
    </div>
    <div>
        <button type="submit">Создать</button>
    </div>
</form>