@using WebStoryFroEveryting.Models.Films
@model List<FilmsViewModel>

@{
    Layout = "~/Views/Shared/_LayoutFilms.cshtml";
}
@section Styles {
    <link href="/css/Films/StyleFilmsSpeical.css" rel="stylesheet" />
}
<div class="main-layout">
    @foreach (var item in Model)
    {
        <div class="block-elements">
            <div class="name">@item.Name</div>
            <div class="image-container">
                <img src="@item.Src" />
            </div>
            <div class="buttons">
                <a href="/PurchaseFilms/CreateDescriptionFilm?id=@item.id" class="button"> + </a>
                <a href="/PurchaseFilms/RemoveFilms?id=@item.id" class="button"> - </a>
            </div>
        </div>
    }
</div>