@* <a href="/PurchaseFilms/CreatePurchaseFilms">Films</a>
<link href="/css/Films/StyleFilms.css" rel="stylesheet"/>

<div class="box-container">
    <div class="red box">
        Red
    </div>

    <div class="blue box">
        blue
    </div>

    <div class="red box">
        blue
    </div>
    <div class="red box">
        Red
    </div>
</div>
 *@
@{
    Layout = "~/Views/Shared/_LayoutFilms.cshtml";
}