@using WebStoryFroEveryting.Models.Films
@using WebStoryFroEveryting.Localizations
@model List<FilmsViewModel>

@{
    Layout = "~/Views/Shared/_LayoutFilms.cshtml";
}
@section Styles {
    <link href="/css/Films/StyleFilmsSpeical.css" rel="stylesheet" />
}

@section Scripts {
    <script src="/js//Films/indexFilm.js"></script>
}
<div class="main-layout">
    <div class="block-elements template" data-id="">
        <div class="name">
        </div>
        <div class="image-container">
            <img src="" />
        </div>
        <div class="buttons">
            <a href="#" class="button soft-remove"> Спрятать </a>
            <a href="#" class="button"> Удалить </a>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="block-elements">
            <div class="name">
                @item.Name
            </div>
            <div class="image-container">
                <a href="/PurchaseFilms/DescriptionFilm?id=@item.id">
                    <img src="@item.Src" />
                </a>
            </div>
            <div class="buttons">
                <a href="/PurchaseFilms/RemoveFilms?id=@item.id" class="button">@ButtonsMovie.Index_Delete</a>
            </div>

            <div class="update-mode" id=@item.id>
                <input class="new-name" />
                <div>
                    <button class="update">Изменить</button>
                    <button class="close">Отменить</button>
                </div>
                <div>
                    <button class="delete-movie">Удалить фильм</button>
                </div>
            </div>
        </div>
        <form action="/PurchaseFilms/UpdateImg" method="post" enctype='multipart/form-data'>
            <input name="newimg" type="file" />
            <button type="submit">Обновить картинку </button>
        </form>
    }
    <div class="block-elements create-container">
        <div class="input-user">
            <input class="new-name" />
            <input class="new-image" />
        </div>
        <div class="create-name" id=NameTest>
        </div>
        <div class="image-container">
            <img src="" />
        </div>
        <div class="buttons">
            <a href="#" class="button create">Создать </a>
        </div>
    </div>
</div>
