@using WebStoryFroEveryting.Models.Films
@model DescriptionFilmViewModel
@{
    Layout = "~/Views/Shared/_LayoutFilms.cshtml";
}
@section Styles {
    <link href="~/css/Films/StyleDescription.css" rel="stylesheet"/>
}

<form method="post">
    <div class="main">
        <div class="Film">
            <img src="@Model.Films.Src"/>
        </div>

        <div class="Description">
            Description Description Description Description
        </div>
    </div>
</form>