@{
    Layout = "_LayoutLessons";
}

@model WebStoryFroEveryting.Models.Lessons.LessonViewModel

<div class="lesson-details">
    <div class="lesson-details-button">
            @Html.Raw(@Model.Source)
        </div>
    <div class="lesson-details-title">@Model.Title</div>
</div>
                
