@model WebStoryFroEveryting.Models.Lessons.LessonViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form method="post" action="/Lessons/Edit">
        @Html.HiddenFor(x => x.Id) 
        
        <div>
            @Html.TextBoxFor(x => x.Title, new { placeholder = "Title" })
        </div>
        <div>
            @Html.TextBoxFor(x => x.Source, new { placeholder = "Source for video" })
        </div>
        <div>
            @Html.TextBoxFor(x => x.Preview, new { placeholder = "Preview for image" })
        </div>
        
        <button type="submit">Обновить</button>
    </form>
</div>
</body>

</html>

