@section Scripts{
    <script src="~/js/Statue/index.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Statue/index.css" />
}

<div class="statues">
    <div class="statue template">
        <div class="name"></div>
        <div class="image"><img src="" /></div>
        <div class="desc"></div>
    </div>
</div>
<div class="add-new-statue-container">
    <input class="new-name" placeholder="name" />
    <input class="new-src" placeholder="src" />
    <button>create</button>
</div>