
.flavors { /* контейнер для всех объектов*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}

.flavor-container { /* контейнер для каждой карточки*/
    width: 270px; 
}

.flavor-card {
    background: white;
    border: 2px solid #ccc;
    border-radius: 5px; 
    text-align: center;
    padding: 10px;
}

.flavor-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.flavor-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 7px 0;
}

.flavor-simple-text-weight {
    font-weight: 200;
}

.flavor-accent-text-weight {
    font-weight: 500;
}

.flavor-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 7px 0;
}

button {
    background-color: #ddd;
/*    color: black;*/
    border: 2px solid #aaa;
    border-radius: 7px;
    padding: 5px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

    button:hover { /*изменение цвета при наведении*/
        background-color: #88da99;
    }

    
