.idols {
	display: flex;
	flex-wrap: wrap;
}

.idol {
	margin: 5px;
	border: 1px solid rgb(58, 30, 222);
	border-radius: 10px;
	padding: 5px;
}

.name {
	display: flex;
	justify-content: center;
}

.image-container img {
	max-width: 250px;
	max-height: 250px;
}

.buttons {
	display: flex;
}

.buttons .button {
	flex: 1;
	background: aqua;
	display: flex;
	justify-content: center;
	margin: 2px;
	align-items: center;
	text-decoration: none;
	color: black;
}

.buttons .button:first-child {
	border-bottom-left-radius: 5px;
}

.buttons .button:last-child {
	border-bottom-right-radius: 5px;
}

.tags {
	display: flex;
	flex-wrap: wrap;
}
.tag {
	display: flex;
	border: 1px black solid;
	border-radius: 5px;
	margin: 3px;
	padding: 3px;
}

.tag.active {
	border-color: red;
}

.idol.to-remove {
	border-color: red;
}
