.header {
	font-size: 36px;
	justify-content: center;
	display: flex;
	background: #ccc;
}

.menu-and-content {
	display: flex;
}

.menu {
	width: 250px;
	padding: 10px;
	background: orange;
	min-height: 300px;
}

.content {
	flex: 1;
}

.menu .link {
	border: green 1px solid;
	border-radius: 5px;
	margin: 3px;
}

.idol .active {
	opacity: 0.2;
	transform: scale(0.5);
}

.update-mode {
	display: none;
}

.chat {
	background: aqua;
	padding: 10px 3px;
	border-radius: 5px;
}

.messages {
	margin-bottom: 10px;
}
.message {
	margin: 5px 0;
}

.message .author {
	padding-right: 10px;
}

.template {
	display: none;
}
