
.header {
    font-size: 55px;
    justify-content: center;
    display: flex;
    background: #e1dfdf;
}

.content {
    display: flex;
}

.menu-and-content {
    display: flex;
}

.menu {
    width: 150px;
    height: 3000px;
    padding: 10px;
    background: green;
}

.menu .link {
    font-size: 30px;
    border: white 1px solid;
    border-radius: 3px;
    margin: 5px;
}

.img-container{
    max-height: 100px;
    max-width: 200px;
} 
