@using WebStoryFroEveryting.Models.GamingDevice
@model List<GamingDeviceViewModel>

@{
    Layout = "~/Views/Shared/_LayoutGamingDevice.cshtml";
}

@section Styles{
    <link href="~/css/GamingDevice/gamingDeviceSpeical.css" rel="stylesheet" />
}   

<div class="devices">
    @foreach (var device in Model)
    {
        <div class="device">
            <div class="brand">@device.Brand</div>
            <div class="brand">@device.Name</div>
            <div class="brand">@device.Price</div>
            <div class="image-container">
                <img src="@device.Src" />
            </div>
            <div class="buttons">
                <div class="button">+</div>
                <div class="button">-</div>
            </div>
        </div>
    }
</div>