.main-layout {
    display: flex;
    flex-wrap: wrap;
}

.block-elements {
    margin: 5px;
    border: 1px solid #00ff90;
    border-radius: 10px;
    padding: 5px;
}

    .block-elements.template {
        display: none;
    }

.block-element-old {
    margin: 5px;
    border: 1px solid #00ff90;
    border-radius: 10px;
    padding: 5px;
}

block-elements .to-remove {
    margin: 5px;
    border: 1px solid #ff0000;
    border-radius: 10px;
    padding: 5px;
}

.name {
    justify-self: center;
    margin: 5px;
    max-width: 50px;
    align-items: center;
    font-size: 10px;
}

.image-container img {
    max-width: 200px;
    max-height: 200px;
}

.buttons {
    display: flex;
}

buttons .button {
    flex: 1;
    background: #808080;
    display: flex;
    justify-content: center;
    margin: 2px;
    text-decoration: none;
    color: powderblue;
}

.update-mode {
    display: none;
    margin: 5px,0px,2px,0px;
}

.input-user {
    display: contents;
    max-width: 200px;
}

    .input-user .new-name {
        max-width: 100px;
    }

    .input-user .new-image {
        max-width: 100px;
    }
