@using WebStoryFroEveryting.Models.AnimeGirl
@model List<IdolViewModel>

@{
    Layout = "~/Views/Shared/_LayoutAnime.cshtml";
}

@section Styles{
    <link href="~/css/AnimeGirl/animeGirlSpeical.css" rel="stylesheet" />
}   

<div class="idols">
    @foreach (var idol in Model)
    {
        <div class="idol">
            <div class="name">@idol.Name</div>
            <div class="image-container">
                <img src="@idol.Src" />
            </div>
            <div class="buttons">
                <div class="button">+</div>
                <a href="/AnimeGirl/Remove?id=@idol.Id" class="button">-</a>
            </div>
        </div>
    }
</div>