@using WebStoryFroEveryting.Models.AnimeGirl
@model CreateIdolViewModel

@{
    Layout = "~/Views/Shared/_LayoutAnime.cshtml";
}

<form method="post" action="/AnimeGirl/Create">
    <div>
        @Html.TextBoxFor(x => x.Name, new { placeholder = "Name" })
    </div>
    <div>
        @Html.TextBoxFor(x => x.Src, new { placeholder = "Src for image" })
    </div>
    <div>
        <button type="submit">Создать</button>
    </div>
</form>