@using WebStoryFroEveryting.Models.AnimeGirl
@model IdolIndexViewModel

@{
    Layout = "~/Views/Shared/_LayoutAnime.cshtml";
}

@section Styles{
    <link href="~/css/AnimeGirl/animeGirlSpeical.css" rel="stylesheet" />
}   

@if (Model.CanUserFillters)
{
    <div class="tags">
        <a href="/AnimeGirl/Index" class="tag">Сбросить фильтр</a>
        @foreach (var tag in Model.Tags)
        {
            <a href="/AnimeGirl/Index?tag=@tag" class="tag @(tag == Model.CurrentTag ? "active": "")">@tag</a>
        }
    </div>
}

<div class="idols">
    @foreach (var idol in Model.Idols)
    {
        <div class="idol">
            <div class="name">@idol.Name</div>
            <div class="image-container">
                <img src="@idol.Src" />
            </div>
            <div class="buttons">
                <a href="/AnimeGirl/CommentForGirl?idolId=@idol.Id" class="button">+</a>
                <a href="/AnimeGirl/Remove?id=@idol.Id" class="button">-</a>
            </div>
        </div>
    }
</div>