.devices {
    display: flex;
}
.device {
    margin: 5px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px;
}

.brand {
    display: flex;
    justify-content: center;
}

.image-container img {
    justify-content: center;
    align-content: center;
    max-width: 200px;
    max-height: 200px;
}

.buttons {
    display: flex;
}

    .buttons .button {
        flex: 1;
        background: red;
        display: flex;
        justify-content: center;
        margin: 1px;
        align-items: center;
    }


        .buttons .button:first-child {
            border-bottom-left-radius: 5px;
        }

        .buttons .button:last-child {
            border-bottom-right-radius: 5px;
        }
