@using WebStoryFroEveryting.Models.Singers
@model List<WebStoryFroEveryting.Models.Singers.SingerViewModel>

@{
    Layout = "~/Views/Shared/_LayoutSinger.cshtml";
}

@section Styles {
    <link href="~/css/Singers/Singer.css" rel="stylesheet" />
}

@if (!Model.Any())
{
    <div class="alert alert-warning">
        @Model.FirstOrDefault()?.ErrorMessage
    </div>
}
else
{
    <div class="singers">
        @foreach (var singer in Model)
        {
            <div class="singer">
                <div class="name">@singer.Pseudonym</div>
                <div class="image-container">
                    <img src="@singer.Src" />
                </div>
                <div class="style">Стиль Музыки: @singer.Style</div>
            </div>
        }
    </div>
}
