@model WebStoryFroEveryting.Models.Singers.SingerViewModel

@{
    Layout = "~/Views/Shared/_LayoutSinger.cshtml";
}

<h2>Редактирование Певца</h2>

<form method="post" action="@Url.Action("Update", "Singer")">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <label for="Pseudonym">Псевдоним</label>
        <input type="text" id="Pseudonym" name="Pseudonym" class="form-control" value="@Model.Pseudonym" required />
    </div>
    <div class="form-group">
        <label for="Style">Стиль Музыки</label>
        <input type="text" id="Style" name="Style" class="form-control" value="@Model.Style" required />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
