@section Scripts {
    <script src="~/js//Cartoon/cartoon.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/Cartoon/index.css" />
}


<div class="cartoons">
    <div class="cartoon block-elements">
        <div class="name"></div>
        <div class="image">
            <img src="" />
        </div>
    </div>
</div>
<div class="add-new-cartoons-container">
    <input class="new-name" placeholder="name" />
    <input class="new-src" placeholder="src" />
    <button>create</button>
</div>
