@section Scripts {
    <script src="~/js//Cartoon/cartoon.js"></script>
}

 
<div class="cartoons">
    <div class="cartoons block-elements">
         <div class="name"></div>
         <div class="image">
            <img src=""/>
         </div>
     </div>
 </div>
