@section Scripts {
    <script src="~/js/Cartoon/informationAPI.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Cartoon/InformationAPI.css" />
}


<div class="container">
    <div class="block-elements">
        <button id="myButtonAPI" class="button">API</button>
        <div class="dropdown-content" id="dropdown">
            <div id="nameMethods"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="block-elements">
        <button id="myButtonMethodWithParameters" class="button">Method With Parameters</button>
        <div class="dropdown-content" id="dropdownMethod">
            <div id="nameMethodWithParameters"> </div>
        </div>
    </div>
</div>

