.Notebooks {
    display: flex;
    flex-wrap: wrap;
}

.Notebook{
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    
}

.name {
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 200px;
    max-height: 120px;
}

.buttons {
    display: flex;
}

.buttons .button {
    flex: 1;
    background: silver;
    display: flex;
    justify-content: center;
    margin: 2px;
    align-items: center;
    text-decoration: none;
    color: black;
}


    .buttons .button:first-child {
        border-bottom-left-radius: 5px;
    }

    .buttons .button:last-child {
       border-bottom-right-radius: 5px;
    }

    .tags{
        display: flex;
        flex-wrap: wrap;
    }

    .tag{
        display: flex;
        border: 1px black solid;
        border-radius: 5px;
        margin: 3px;
        padding: 3px;
    }

    .tag.active{
        border-color:red;
    }