@{
	Layout = "~/Views/Shared/_LayoutMobilePhone.cshtml";
}

@section Styles {
	<link href="~/css/MobilePhone/mobileSpecial.css" rel="stylesheet" />
}


<link href="/css/mobile.css" rel="stylesheet" />

<div class="mobiles">
	<div class="mobile">
		<div class="name">apple</div>
		<div class="image-container">
			<img src="https://media.coolgadget.de/Artikelbilder/1400px/conie_mobile_rueckschalen_diamond_apple_iphone_5_gold_detail_1.jpg" />
		</div>
		<div class="buttons">
			<div class="button">+</div>
			<div class="button">-</div>
		</div>

	</div>

	<div class="mobile">
		<div class="name">samsung</div>
		<div class="image-container">
			<img src="https://img.tvc-mall.com/uploads/details/10352759A-2.jpg" />
		</div>
		<div class="buttons">
			<div class="button">+</div>
			<div class="button">-</div>
		</div>

	</div>

	<div class="mobile">
		<div class="name">huavei</div>
		<div class="image-container">
			<img src="https://lekalo-rf.ru/image/cache/catalog/gadzhety/mobilnyetelefony/1059872-800x800.jpg" />
		</div>
		<div class="buttons">
			<div class="button">+</div>
			<div class="button">-</div>
		</div>

	</div>
</div>
v>