@section Scripts {
	<script src="~/js/swapMeetProduct/index.js"></script>
}
@section Styles {
	<link href="~/css/SwapMeetProduct/swapMeet.css" rel="stylesheet" />
}

<div class="heading">
	Swap meet
</div>
<div class="swapMeetProducts">
	<div class="swapMeetProduct template">
		<div class="name"></div>
		<div class="image">
			<img class="src" />
		</div>
		<div class="description"></div>
		<div class="price"></div>
	</div>
</div>
<div class="createProduct">
	<div class="headingCreateProd">Here you can place your product</div>
	<input class="nameProduct" placeholder="name" />
	<input class="imageProduct" placeholder="image address" />
	<input class="descriptionProduct" placeholder="description" />
	<input class="priceProduct" placeholder="price" />
	<button>Create</button>
</div>
